@model Retail.Frontend.Web.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Order placed";
}

<div class="text-center">
    <h1 class="display-4">Order placed!</h1>
    <br/>
    <div class="row justify-content-md-center">
        <div class="card border-success mb-3">
            <div class="card-header">
                Order ID:<br />
                @Model.OrderId
            </div>
            <div class="card-body text-success">
                <p class="card-text">Thanks!</p>
            </div>
            <div class="card-footer text-muted">Retail</div>
        </div>
    </div>
</div>
