@model Retail.Frontend.Web.ViewModels.OrderPlaced

@{
    ViewData["Title"] = "Order placed";
}

<div class="text-center">
    <h1 class="display-4">Order placed!</h1>
    <p>
        @Model.OrderId
    </p>
</div>
