@model Retail.Frontend.Web.ViewModels.OrderPlacedViewModel

@{
    ViewData["Title"] = "Order placed";
}

<div class="text-center">
    <h1 class="display-4">Order placed!</h1>
    <h3>Order ID:</h3>
    <p>@Model.OrderId</p>
    <h3>Customer ID: </h3>
    <p>@Model.CustomerId</p>
    <h3>Products</h3>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                @product.ProductId
            </li>
        }
    </ul>
</div>